section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 70vh;
  text-align: center;
  padding: 3rem 2rem 2rem;
}

h1 {
  color: #ff6600;   /* naranja para diferenciar */
  margin-bottom: 1rem;
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
  max-width: 600px;
  margin-bottom: 1.5rem;
}

img {
  max-width: 500px;
  border-radius: 10px;
  margin-top: 1rem;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.2);
}
.product-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  text-align: center;
}
