
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;  
  min-height: 70vh;
  text-align: center;
  padding: 3rem 2rem 2rem;      
}

/* Título */
h1 {
  color: #0077cc;
  margin-bottom: 1rem;
  font-size: 2rem;
}

/* Texto */
p {
  font-size: 1.2rem;
  max-width: 600px;
  margin-bottom: 1.5rem;
}

/* Imagen */
img {
  max-width: 500px;
  border-radius: 10px;
  margin-top: 1rem;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.2);
}
